.gallery{
    width: 1000px;
    text-align: center;
    margin: 0 auto;
}

.photo {
    position: relative;
    height: 750px;
}

.photo img {
    width: 50%
    position: absolute;
    opacity: 0;
    left: 0;
    transform: opacity 1s;
}

.photo img.shown {
    opacity: 1;
}

.tabs {
    text-align: center;
    padding-top: 20px;
}